@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  
}

input[type="file"] {
    display: none;
}




header {
  height: 90px;
  background-color: #121212;
  display: flex;
 
  
}

#logocontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 16px;
  }



  
 main {
  display: flex;
  flex: 1;
  position: relative;
}
#frame1{
width:80px;
text-align: center;
align-items: center;
justify-content: center;
background-color: #121212;

} 
#frame2{
width:400px;
background-color:#121212;
display: none;
}
#frame3{
width:300px;
background-color:#121212;
display: none;
}
#editor {
    flex:1;
  }
#consolediv{
 width:300px;
background-color:#121212;
display: none;
}

p{
  font-family: 'Josefin Sans', sans-serif;
}
input, button {
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
}
#nav{
color: rgb(122, 122, 122);
padding-top:20px;
font-size:25px;
}
#nav:hover{
 color: #BB86FC; 
}
#close-icon{
  justify-content: right;
  padding-top:10px;
  padding-right:10px; 
  float: right;
  color: #BB86FC; 
}
#close-icon:hover{
color: rgb(122, 122, 122);  
}
#save{
 color: rgb(122, 122, 122);
padding-top:20px; 
font-size:25px;
}
#save:hover{
 color: #BB86FC; 
}
.button-primary-blue{
  padding-left:55px ;
  padding-right: 55px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: rgb(39, 39, 39);
  border:3px solid #BB86FC;
  color: #BB86FC;
  border-radius:7px;
  font-family: 'Josefin Sans', sans-serif;
}
.button-primary-blue:hover{
  color: white;
  background-color: #BB86FC;
}

.run-button{
  padding-top: 30px;
  padding-left: 88px;
}
.error-code{
  padding-top: 2px;
  padding-left: 20px;
  color: rgb(190, 190, 190);
}
.error-code a{
  color: #BB86FC;  
}
.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #121212;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  font-family: 'Josefin Sans', sans-serif;
  overflow-y: auto;
  border-radius: 7px;
}

.dropdown-content a {
  color: #BB86FC;
  padding: 8px 8px;
  text-decoration: none;
  display: block;
}
.dropdown-content h3 {
  color: #BB86FC;
  padding: 8px 8px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {background-color: #000000}

.dropdown:hover .dropdown-content {
  display: block;
}


#search-bar{
  width: 100px;
  padding-left:55px ;
  padding-right: 55px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: rgb(39, 39, 39);
  border:3px solid #BB86FC;
  color: #BB86FC;
  border-radius:7px;
  margin-left: 30px;
  margin-top:20px;
  font-family: 'Josefin Sans', sans-serif;
}
#search-bar:active{
  width: 100px;
  padding-left:55px ;
  padding-right: 55px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: rgb(39, 39, 39);
  border:3px solid #BB86FC;
  color: #BB86FC;
  border-radius:7px;
  margin-left: 30px;
  margin-top:20px;
}
#font{
  margin-left:4px;
  color:#BB86FC;
}
#font:hover{
  color: rgb(122, 122, 122);  
}
.font-size{
 width: 100px;
  padding-left:55px ;
  padding-right: 55px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: rgb(39, 39, 39);
  border:3px solid #BB86FC;
  color: #BB86FC;
  border-radius:7px;
  margin-left: 30px;
  margin-top:20px;
  font-family: 'Josefin Sans', sans-serif;
}
.font-size:active{
 width: 100px;
  padding-left:55px ;
  padding-right: 55px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: rgb(39, 39, 39);
  border:3px solid #BB86FC;
  color: #BB86FC;
  border-radius:7px;
  margin-left: 30px;
  margin-top:20px;
}
