@import url('https://fonts.googleapis.com/css2?family=Reem+Kufi&display=swap');
body{
  background-color: #4fc8f8;
}
.container {
  width: 200px;
  height: 200px;
  perspective: 1000px;
  margin: 100px auto 0;
}
.cube {
  transform-style: preserve-3d;
  width: 100%;
  height: 100%;
  position: relative;
}
.face {
  border-radius: 30px;
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: repeating-linear-gradient(0deg, rgb(255, 255, 255) 0px, rgba(243, 240, 240, 0.2) 1px,transparent 1px, transparent 21px),repeating-linear-gradient(90deg, rgb(255, 255, 255) 0px, rgba(70,70,70, 0.2) 1px,transparent 1px, transparent 21px),linear-gradient(90deg, #322e2f ,#322e2f ,#322e2f );
}
.top {
  border-radius: 30px;
  transform: rotateX(90deg) translateZ(100px);
}
.bottom {
  border-radius: 30px;
  transform: rotateX(-90deg) translateZ(100px);
}

.right {
  border-radius: 30px;
  transform: rotateY(90deg) translateZ(100px);
}
.left {
  border-radius: 30px;
  transform: rotateY(-90deg) translateZ(100px);
}

.front {
  border-radius: 30px;
  transform: rotateX(0deg) translateZ(100px);
}
.back {
  border-radius: 30px;
  transform: rotateX(-180deg) translateZ(100px);
}
@keyframes spin {
  from {
    transform: rotateX(0deg) rotateY(0deg);
  }
  to {
    transform: rotateX(360deg) rotateY(360deg);
  }
}
.cube {
  transform-style: preserve-3d;
  width: 100%;
  height: 100%;
  position: relative;
  animation: spin 5s infinite linear;
}
#load{
  position: absolute;
    display: inline-block;
    bottom: 10px;
    left: 10px;
    font-family: 'Poppins', sans-serif;
}
#load p{
 text-transform: uppercase;
    text-align: center;
    font-size: 30px;
    letter-spacing: 3px;
    font-family: 'Quicksand', sans-serif;
    color: #d9138a;
    font-weight:800;
}
#load i{
  color: greenyellow;
}
#myProgress {
  width: 100%;
  border-radius:9px;
  background-color: grey;
  border: 9px solid #e2d810;
}

#myBar {
  width: 1%;
  height: 30px;
  border: 9px solid #e2d810;
  background-color: #e2d810;
}
