@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
a{
  color: dodgerblue;
}
:root{
  --theme-frame-1-background: #272822;
  --theme-frame1-icon-hover: #ee115b;
  --theme-frame3-background:#272822 ;
  --theme-frame3-text-color: #ee115b ;
  --theme-input-button-border-color:#ee115b ;
}
[data-theme = "chrome"]{
 --theme-frame-1-background:#fff ;
 --theme-frame1-icon-hover: rgb(0, 0, 0);
  --theme-frame3-background: #ffffff;
  --theme-frame3-text-color: rgb(218, 24, 218);
  --theme-input-button-border-color: rgb(218,24,218);
}
[data-theme = "eclipse"]{
 --theme-frame-1-background: #fff;
 --theme-frame1-icon-hover: rgb(0,0,0) ;
  --theme-frame3-background:#fff ;
  --theme-frame3-text-color:rgb(25, 118, 116); ;
  --theme-input-button-border-color: rgb(25, 118, 116);;
}
[data-theme = "github"]{
 --theme-frame-1-background:#fff ;
 --theme-frame1-icon-hover: rgb(0,0,0) ;
  --theme-frame3-background: #fff;
  --theme-frame3-text-color:#ee115b ;
  --theme-input-button-border-color:rgb(0,0,0) ; 
}
[data-theme = "xcode"]{
 --theme-frame-1-background:#fff ;
 --theme-frame1-icon-hover:#C800A4 ;
  --theme-frame3-background: #fff;
  --theme-frame3-text-color:#C800A4  ;
  --theme-input-button-border-color:#C800A4   ;
}
[data-theme = "server"]{
 --theme-frame-1-background: #fff;
 --theme-frame1-icon-hover: rgb(0,0,0) ;
  --theme-frame3-background: #fff;
  --theme-frame3-text-color:#0000FF ;
  --theme-input-button-border-color:#0000FF ;
}
[data-theme = "monokai"]{
--theme-frame-1-background: #272822;
  --theme-frame1-icon-hover: #ee115b;
  --theme-frame3-background:#272822 ;
  --theme-frame3-text-color: #ee115b ;
  --theme-input-button-border-color:#ee115b ;
}
[data-theme = "sublime"]{
 --theme-frame-1-background:#0d3440; 
 --theme-frame1-icon-hover: #d0edf7;
  --theme-frame3-background:#0d3440; 
  --theme-frame3-text-color: #d0edf7;
  --theme-input-button-border-color:#d0edf7;
}
[data-theme = "terminal"]{
  --theme-frame-1-background:#2A112A ;
 --theme-frame1-icon-hover: #1a0005;
  --theme-frame3-background:#2A112A ;
  --theme-frame3-text-color: steelblue;
  --theme-input-button-border-color: steelblue;
 
}
[data-theme = "chaos"]{
--theme-frame-1-background:#141414 ;
 --theme-frame1-icon-hover: rgb(37, 35, 35);
  --theme-frame3-background: #141414;
  --theme-frame3-text-color: rgb(218, 24, 218);
  --theme-input-button-border-color: rgb(218,24,218);
}
[data-theme = "nord"]{
 --theme-frame-1-background:rgb(46, 52, 64) ;
 --theme-frame1-icon-hover: #616e88;
  --theme-frame3-background:rgb(46, 52, 64) ;
  --theme-frame3-text-color: #616e88;
  --theme-input-button-border-color:#616e88;
}
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
}
body {
  display: flex;
  flex-direction: column;
  
}
input[type="file"] {
    display: none;
}
/*header {
  height: 50px;
  background-color: #ebebeb;
  display: none;
 }
 
#logocontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 16px;
  }*/

#frame3{
  height: 100%;
width:300px;
background-color:var(--theme-frame3-background);
display: none;
}

  
 main {
  display: flex;
  flex: 1;
  position: relative;
}
#frame1{
width:80px;
height: 100%;
text-align: center;
align-items: center;
justify-content: center;
background-color: var(--theme-frame-1-background);

} 

#editor {
    flex:1;
  }

#iframe{
 width: 98%;
 height:95% ;
}
p{
  font-family: 'Josefin Sans', sans-serif;
}
input, button {
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
}
#nav{
color: #8F908A;
font-size:25px;
}
#nav:hover{
 color: var(--theme-frame1-icon-hover); 
}
#close-icon{
 justify-content: right;
  padding-top:10px;
  padding-right:10px; 
  float: right;
  color: var(--theme-frame1-icon-hover); 
}
#close-icon:hover{
color: rgb(122, 122, 122);  
}
#link{
 color: #8F908A;
padding-top:20px; 
font-size:25px;
}
#link:hover{
 color: var(--theme-frame1-icon-hover); 
}
#save{
 color: #8F908A;
padding-top:20px; 
font-size:25px;
}
#save:hover{
 color: var(--theme-frame1-icon-hover); 
}
.button-primary-blue{
  margin-top: 40px;
  padding-left:55px ;
  padding-right: 55px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: rgb(39, 39, 39);
  border:3px solid var(--theme-input-button-border-color);
  color: var(--theme-frame3-text-color);
  border-radius:7px;
  font-family: 'Josefin Sans', sans-serif;
}
.button-primary-blue:hover{
  color: white;
  background-color: var(--theme-input-button-border-color);
}

.run-button{
  padding-top: 30px;
  padding-left: 88px;
}
.error-code{
  padding-top: 2px;
  padding-left: 20px;
  color: var(--theme-frame3-text-color);
}
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #121212;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  font-family: 'Josefin Sans', sans-serif;
  overflow-y: auto;
  border-radius: 7px;
}

.dropdown-content a {
  color: var(--theme-frame3-text-color);
  padding: 8px 8px;
  text-decoration: none;
  display: block;
}
.dropdown-content h3 {
  color: var(--theme-frame3-text-color);
  padding: 8px 8px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {background-color: #000000}

.dropdown:hover .dropdown-content {
  display: block;
}


#search-bar{
  width: 100px;
  padding-left:55px ;
  padding-right: 55px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: rgb(39, 39, 39);
  border:3px solid var(--theme-input-button-border-color);
  color: var(--theme-frame3-text-color);
  border-radius:7px;
  margin-left: 30px;
  margin-top:20px;
  font-family: 'Josefin Sans', sans-serif;
}
#search-bar:active{
  width: 100px;
  padding-left:55px ;
  padding-right: 55px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: rgb(39, 39, 39);
  border:3px solid var(--theme-input-button-border-color);
  color: var(--theme-frame3-text-color);
  border-radius:7px;
  margin-left: 30px;
  margin-top:20px;
}
#font{
  margin-left:4px;
  color:var(--theme-frame3-text-color);
}
#font:hover{
  color: rgb(122, 122, 122);  
}
.font-size{
 width: 100px;
  padding-left:55px ;
  padding-right: 55px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: rgb(39, 39, 39);
  border:3px solid var(--theme-frame3-text-color);
  color:var(--theme-frame3-text-color);
  border-radius:7px;
  margin-left: 30px;
  margin-top:20px;
  font-family: 'Josefin Sans', sans-serif;
}
.font-size:active{
 width: 100px;
  padding-left:55px ;
  padding-right: 55px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: rgb(39, 39, 39);
   border:3px solid var(--theme-frame3-text-color);
  color:var(--theme-frame3-text-color);
  border-radius:7px;
  margin-left: 30px;
  margin-top:20px;
}
#mydiv{
  text-align: center;
  margin-top:40px;
  color: #BB86FC;
  font-family: 'Josefin Sans', sans-serif;
   line-height: 80%;
}     
#mydiv a{
  line-height: 2.6;
}
#mydiv a:hover{
color: gainsboro;
}
#popup { 
  display: none;
 position: fixed; 
 top: 12%; 
 left: 15%;
  width: 70%;
height: 70%; 
background-color: white; 
z-index: 10; 
border-radius: 7px;
}
#popup iframe { 
  width: 100%; 
  height: 100%; 
  border: 0; 
  }
#popupdarkbg { 
  position: fixed; 
  z-index: 5; 
  left: 0; 
  top: 0; 
  width: 100%; 
  height: 100%; 
  overflow: hidden; 
  background-color: rgba(0,0,0,.75); 
  display: none; 
  }
  #runwrapper i:hover{
  color:dodgerblue;
  }
   #runwrapper i{
  color:gray;
  }
